<ion-content #content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Capacitor File Chunk Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ng-container *ngIf="!mFileChunkServerInfo">
      <ng-container *ngIf="!this.mStartingServer">
        <ion-button expand="block" color="success" (click)="onStartServer()" style="margin-top: 20px"
          >START SERVER</ion-button
        >
        <ion-item lines="full">
          <ion-checkbox slot="start" [(ngModel)]="mEncryptCommunications"></ion-checkbox>
          <ion-label>Encrypt Data (localhost)</ion-label>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="this.mStartingServer">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="mFileChunkServerInfo">
      <ng-container *ngIf="mShowTestButton">
        <ion-button expand="block" color="warning" (click)="onStopServer()" style="margin-top: 20px"
          >STOP SERVER</ion-button
        >

        <!--PLUGIN INFO-->
        <app-plugin-info [mFileChunkServerInfo]="mFileChunkServerInfo"></app-plugin-info>

        <!--TEST FILE SIZE-->
        <ion-item lines="full">
          <ion-label position="stacked">
            <h3>Test file size {{ mFileSizeMB }} MB</h3>
          </ion-label>
          <ion-range
            [ticks]="true"
            [snaps]="true"
            [min]="0"
            [max]="mFileSizes.length - 1"
            [(ngModel)]="mFileSizeIndex"
            (ionChange)="onMockFileSize($event)"></ion-range>
        </ion-item>

        <ion-item lines="full">
          <ion-checkbox slot="start" [(ngModel)]="mUseCapacitorFilesystem"></ion-checkbox>
          <ion-label>Capacitor fileSystem (Benchmark)</ion-label>
        </ion-item>

        <!--WRITE-->
        <ion-button expand="block" (click)="onStartTest()" style="margin-top: 20px">START TEST</ion-button>
      </ng-container>

      <!--LOG-->
      <ion-item>
        <ion-textarea
          placeholder="Console"
          [autoGrow]="true"
          readonly="true"
          style="font-size: 0.8rem; margin-bottom: 30px"
          [value]="mLogEntries"
          [ngClass]="{ 'app-log-error': mHasErrors, 'app-log-success': !mHasErrors }">
        </ion-textarea>
      </ion-item>
    </ng-container>
  </div>
</ion-content>
