.app-download-error {
  width: 100%;
  line-height: 30px;
  border: dashed 2px #ea003c;
  border-radius: 10px;
  color: #ea003c;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
